doctype html
html 
  head  
    title Dace web
    block scripts 
    block style 
  body 
     nav#navbar
         ul 
            li #[a(href="/") Home ]
            li #[a(href="/") About ]
            li #[a(href="/contact") Contact]
            li #[a(href="/") Services]
  block content
  footer#footer
      | Copyright