extends base.pug

block scripts 
  script(src="/static/style.css")

block style 
  style 
   include ../static/style.css 

block content
  

    section#introSection 
        | this is spon
       
    section#sponserSection 
        | this is sponser