doctype html 
html 
   head
       style 
            include ../static/style.css
   body
      
       section#introSection 
        | this is sponser
       
       section#sponserSection 
        | this is sponser
       
       section#footer 
        | this is footer
       script 
            include ../static/index.js